.nav {
    background-color: red;
    grid-area: n;
}


.content {
    background-color: blue;
    grid-area: c;
}

.content img {
    width: 100%;
}

.posts {

}

.item {
    color: green;
}

.item img {
    width: 30px;
    border-radius: 10px;
}